html {
    font-size: 100%;
    scroll-behavior: smooth;
    scroll-snap-type:block proximity;
}

body {
    font-family: var(--font-base);
    font-size: var(--fs-md);
    font-weight: var(--fw-regular);
    color: var(--text-color);
    background-color: var(--body-bg-color);
    overflow-x: hidden;
}

body,
section,
main,
form,
fieldset,
header {
    container-type: inline-size;
}


h1,
h2,
h3,
h4 {
    color: var(--heading-color);
    line-height: var(--lh-snug);
    font-weight: var(--fw-bold);
    font-family: var(--headgin-font);
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
    font-weight: var(--fw-medium);
}

h3 {
    font-size: var(--fs-h3);
    font-weight: var(--fw-medium);
}

p {
    font-size: var(--fs-body);
    line-height:1.5;
    text-wrap: pretty;
}

a {
    color: var(--anchor-color);
    font-weight: var(--fw-medium);
    text-decoration: none;
}

input, textarea {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: transparent;
    border: none;
    outline: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    color: inherit;
}

strong{
    color: var(--color-primary);
    font-weight: var(--fw-bold);
}



