.footer{
    background: var(--footer-bg);
    padding-top: 100px;
    padding-bottom: 165px;
}
.footer .container .inner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 40px;
}
.footer-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 22px;
    row-gap: 22px;
}
.footer-menu .menu-item a{
    color: var(--color-01);
    font-size: calc(var(--tiny-font-size) - .07em);
    text-transform: uppercase;
    padding: 3px 12px;
    border-radius: 15px;
    transition:all .5s linear;
}
.footer-menu .menu-item a:hover{
    color: var(--color-03);
    background: var(--color-01);
}
.footer .copy-right{
    color: var(--color-04);
    font-size: var(--small-font-size);
    margin-top: 10px;
}
.footer .copy-right a:hover{
    color: var(--color-01);
    transition: .3s ;
}