<section class="section nav-menu-section" id="about">
    <div class="container sub-container">
        <div class="wrapper">
            <div class="section-title about-title">
                <h3>About Me</h3>
                <p>What I do</p>
            </div>
            <div class="section-content">
                <div class="about-img">
                    <img src="" alt="about-me image">
                </div>
                <div class="about-details">
                    <div class="about-info">
                        <h4 class="iam">Hi! 👋 I’m Mohamed</h4>
                        <p class="about-description">a passionate Full-Stack Web Developer 🚀 with a love for creating seamless
                            user
                            experiences
                            🎨 and
                            robust back-end systems 🛠️. I’m currently diving into advanced web technologies like Next.js, Three.js, and Framer Motion to craft interactive and visually stunning web applications 🌟.
                            I thrive on solving complex challenges 🧩 and sharing knowledge 📚. Check out my JavaScript course on GitHub and insightful articles 💡. My skill set includes React, Node.js, MongoDB with Mongoose, and modern design tools like Tailwind CSS.
                            Although I’m still a student 🎓, I’m dedicated to building projects that reflect my creativity ✨ and technical expertise 💻. My portfolio is a glimpse into my growth and passion as a developer. Let’s connect and create something amazing together! 🤝</p>
                    </div>
                    <div class="pro-list">
                        <div class="pro-card">
                            <span>03</span>
                            <p>Years of Experience</p>
                        </div>
                        <div class="pro-card">
                            <span>10</span>
                            <p>Complete Projects</p>
                        </div>
                        <div class="pro-card">
                            <span>10</span>
                            <p>Satisfied Customers</p>
                        </div>
                    </div>
                    <div class="about-buttons">
                        <div class="main-btn fill-btn">
                            <a href="#">Hire Me <i  class="ri-user-follow-line"></i></a>
                        </div>
                        <div class="main-btn border-btn">
                            <a href="../../assets/pdf/Mohammed_El_Aouri_Resume.pdf" download>DownLoad Cv</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>