/*normalise for Book Styling*/
h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    letter-spacing: 1px;
    font-weight: 700;
    color: var(--color-01, hsl(217, 85%, 74%));
    text-align: center;
}
 h3{
    font-size: 1.1rem;
    color: var(--color-01, hsl(217, 85%, 74%));
    text-align: center;
}
strong{
    color: var(--color-01, hsl(217, 85%, 74%));
    font-weight: 600;
}
p{
    text-align: center;
    line-height: 1.6;
    font-size: 0.875rem; /* exactly 14px */
}
p a{
    text-decoration: underline;
    color: var(--color-01, hsl(217, 85%, 74%));
}
/*Book Styling*/
.book-wrapper{
    transform-style: preserve-3d;
    perspective: 250rem;
    position: relative;
    padding: 1.2rem 1.5rem;;
    animation: show-wrapper 2s forwards;
    width: 80%;
    height: 75vh;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    will-change: transform;
}
/*Book Cover Styling*/
.cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: var(--color-01);
    border-top-left-radius: .6rem;
    border-bottom-left-radius: .6rem;
    transform-origin: right;

}
.cover.cover-right{
    transition: transform  1s cubic-bezier(.645,.045,.355,1);
}

.book{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    perspective: 250rem;
}
/*Book pages Styling left and right*/
.book .book-page{
    position: absolute;
    display: flex;
    width: 50%;
    height: 100%;
    background: var(--body-color);
    padding: .8rem;
    transform-style: preserve-3d;
}
.book-page.page-left {
    border-top-left-radius: .6rem;
    border-bottom-left-radius: .6rem;
}
.book-page.page-right{
    position: absolute;
    right: 0;
    transform-style: preserve-3d;
    transform-origin:left;
    transition: transform  1s cubic-bezier(.645,.045,.355,1);
    z-index: 2;
    border-top-right-radius: .6rem;
    border-bottom-right-radius: .6rem;
}
.book-page.page-right{
    position: absolute;
    right: 0;
    transform-style: preserve-3d;
    transform-origin:left;
    transition: transform  1s cubic-bezier(.645,.045,.355,1);
}
.book-page.page-right.turn,
.cover.cover-right{
    transform: rotateY(180deg);
}
.cover.cover-right.turn{
    z-index: -1;
    transform: rotateY(180deg);
}
/*Back Page & Front Page*/
.book-page .page-front,
.book-page .page-back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--body-color);
    padding: 1.5rem 2rem;
}
.book-page .page-back {
    transform: rotateY(180deg) translateZ(0px);
    z-index: 2;
}

.book-page .page-front{
    transform: rotateY(0deg) translateZ(0px);
    height: 100%;
}
.book-page{
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content: flex-start;
}
/*profile page styling*/
.profile-page{
    text-align: center;
}
.profile-page .about-image{
    width: 200px;
    height: 200px;
    margin-inline:auto;
}
.about-image img{
    width: 100%;
    height: 100%;
}
.about-content p {
    font-size: 1.2rem;
    font-weight: 500;
}
/*About Page Styling*/
.about-content .about-tagline {
    display: inline-block;
    font-size:.78rem;
    font-style: italic;
    color: #888;
    margin-top: 0.1rem;
    max-width: 90%;
    line-height: 1.6;
/*About me styling*/
}
.about-me{
    height: 95%;
}
.about-me::-webkit-scrollbar{
    width: 8px;
    border-radius: 5px;
    background-color: transparent;
}
.about-me::-webkit-scrollbar-thumb{
    background: linear-gradient(0deg, var(--color-01),var(--body-color));
    border-radius: 5px;
}

/*Skills Section Styling*/
.skills p {
    /*font-size: 0.9rem;*/
    /*color: #555;*/
    /*text-align: center;*/
    /*margin-bottom: 1rem;*/
}
.chart{
    width: 100%;
    padding: 1rem;
    height: 210px;
    margin-bottom: 10px;
    position: relative;

}
.chart canvas{
    margin-inline: auto;
    position: absolute;

}
