/* =========================================
   Services
========================================= */
.service-container{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3,1fr);
    column-gap: 35px;
    row-gap: 38px;
}
.service-card{
    position: relative;
    background: var(--card-bg);
    width: 275px;
    height: 285px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    border-bottom:5px solid var(--primary-color);
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
}
.service-icon{
    color: var(--primary-color);
    font-size: 4.15rem;
}
.service-info h4{
    color: var(--color-02);
    font-size: var(--h4-font-size);
    font-weight: var(--font-semi-bold);
    white-space:pre-wrap;
    max-width: 150px;
    margin-top: 20px;
    margin-bottom: 25px;
}
.service-info .service-see-more{
    font-size: var(--base-font-size);
    color: var(--color-01);
    cursor: pointer;
    transition: .3s;
}
.service-see-more:hover{
    color: var(--hover-color );
}
.service-see-more i{
    font-size: 1.15rem;
    transition: margin-left .3s;
}
.service-see-more:hover i{
    margin-left: 3px;
}
.service-modal-backdrop{
    z-index: var(--z-overlay);
    position: fixed;
    background: var(--modal-backdrop-bg);
    backdrop-filter: blur(10px);
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    display: none;
    opacity: 0;
    transition:opacity .5s ease-in-out ;

}
.service-modal-backdrop.active{
    transform: scale(1);
    opacity: 1;
    transition: transform .5s, opacity .5s ;
}
.service-modal{
    position: relative;
    background: var(--color-03);
    width: 825px;
    height: fit-content;
    margin: 75px 25px;
    padding: 50px 25px 50px 45px;
    border-radius: 15px;
    border-bottom: 5px solid var(--primary-color);
    overflow: hidden;
    transform: scale(0);
    transition:transform  .5s ,opacity .5s;
    opacity: 0;
}
.service-modal.active{
    transform: scale(1);
    opacity: 1;
    transition:transform  .5s ,opacity .5s;
}
.modal-close-btn{
    position: absolute;
    color:var(--color-01);
    font-size:1.35rem;
    top:0;
    right: 0;
    margin:15px;
    cursor: pointer;
    transition: .3s;
}
.modal-close-btn:hover{
    color: var(--hover-color);
}
.service-modal .modal-content{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    max-height:500px;
    margin-top:50px;
    padding: 10px;
    overflow-y: auto;
}
.modal-content::-webkit-scrollbar{
    background: hsl(var(--hue) 25% 10%);
    width: 5px;
    border-radius: 5px;
}
.modal-content::-webkit-scrollbar-thumb{
    background: var(--primary-color);
    border-radius: 5px;
}
.modal-content::-webkit-scrollbar-thumb:hover{
    background: var(--hover-color);
}
.service-modal .modal-title{
    max-width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.service-modal .modal-title h3{
    color: var(--color-01);
    font-size: var(--h3-font-size);
    font-weight: 700;
}
.service-modal .modal-title p{
    color: var(--color-04);
    font-size: var(--small-font-size);
    font-weight: var(--font-regular);
    margin-top: 30px;
    margin-bottom: 20px;
}
.service-modal .modal-title h4{
    color: var(--color-02);
    font-size: var(--h4-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 15px;
}
.modal-content .my-services li{
    display: flex;
    margin-bottom: 25px;
}
.modal-content .my-services li i{
    color: var(--primary-color);
    font-size: 1.4rem;
    margin-right: 10px;
}
.modal-content .my-services li p{
    color: var(--color-02);
    font-size: var(--base-font-size);
    line-height: 22px;
}