<footer class="footer">
    <div class="container">
        <div class="inner">
            <div class="logo">
                <a href="#home"><span>Mohammed El Aouri</span></a>
            </div>
            <ul class="footer-menu">
                <li class="menu-item"><a href="#about">About</a></li>
                <li class="menu-item"><a href="#resume">Resume</a></li>
                <li class="menu-item"><a href="#services">Service</a></li>
                <li class="menu-item"><a href="#portfolio">Portfolio</a></li>
            </ul>
            <p class="copy-right">ALL Rights reserved <&copy; <a href="#home">Mohammed El Aouri</a> </p>
        </div>
    </div>
</footer>
