/*!* ========= PORTFOLIO SECTION ======== *!*/
.portfolio-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: var(--space-lg);
}

.portfolio-items{
    display: grid;
    gap: var(--space-lg);
    grid-template-columns: repeat(auto-fill,350px);
    justify-content: center;
}

/* ============================================== */
.project-card{
    padding: 0;
    text-align: left;
    background:var(--bg-card);
    border-radius: 10px;
    border-bottom: 2px solid var(--color-primary);
}
.front-face:is(:hover,:focus-visible) .full-screen{
    transform:translateX(0) scale(1);
}
.front-face__header{
    position: relative;
    height: 200px;
}
.full-screen{
    position: absolute;
    right: .75rem;
    width: 1.5em;
    height: 1.5em;
    border-radius: 5px;
    background: var(--bg-bottom-nav);
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s ease-in-out;
    box-shadow: 2px 2px 6px rgba(0,0,0,.4);
    cursor: pointer;
    transform: translateX(10px) scale(0);
}

.full-screen svg{
    fill: var(--color-white);
}
.full-screen:hover{
    scale: 1.2;
}

.card-cover{
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /*filter: saturate(1.1) contrast(1.05);*/
}
.front-face__content{
    padding: var(--space-sm);
}
.badge {
    padding: .2rem .6rem;
    border-radius: 999px;
    font-size: .7rem;
    text-transform: capitalize;
}

.badge-completed { background: #16a34a; color: #fff; }
.badge-in-progress { background: #f59e0b; color: #000; }
.badge-ongoing { background: #334155; color: #cbd5f5; }

/* ============== CARD BACK OVERLAY ================= */

.back-overlay{
    position: fixed;
    display: grid;
    place-content: center;
    background-color: var(--bg-modal);
    backdrop-filter: blur(15px);
    z-index: var(--z-top);
    inset: 0;
    visibility: hidden;
    opacity: 0;
    scale: 0;
}
.back-overlay-wrapper{
    width: 90%;
    min-width: 350px;
    min-height: 80vh;
    height:50vh;
    margin-inline: auto;
    overflow: hidden;
    background: var(--body-bg-color);
    border-radius: var(--radius-md);
    border-bottom: 4px solid var(--color-primary);
    transform: scale(0.5);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.back-overlay .close-mark{
    margin-top: var(--space-md);
    background-color:var(--body-bg-color);
    width: fit-content;
    padding: .5rem;
    border-radius: var(--radius-full);
    margin-inline: auto;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    z-index: var(--z-top);
    & svg{
        width: 2rem;
        height: 2rem;
        fill: var(--color-primary);
    }
}
.back-overlay .close-mark:active{
    transform: scale(0.9)
}

.slider-track{
    display: flex;
    overflow: auto hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    scrollbar-width: none;
    gap: var(--space-sm);
    align-self: flex-start;

}

.slider{
    flex: 0 0 100%;
    height: 260px;
    border-radius: var(--radius-sm) var(--radius-sm) 0 0;
}
.slider-track::-webkit-scrollbar {
    display: none;
}

.arrow-left,
.arrow-right{
    font-size: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-full);
    cursor: pointer;
    padding: var(--space-xs);
    color: var(--color-primary);
    display: none;
}
.slide-indicators{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    margin-top: var(--space-sm);
}
.slide-indicators .indicator{
    width: 10px;
    height: 10px;
    background-color: var(--body-bg-color);
    border-radius: var(--radius-full);
    cursor: pointer;
    border: 2px solid var(--color-primary);
}
.slide-indicators .indicator.active{
    background: var(--color-primary);
}

/* ======================= PROJECT DETAILS OVERLAY ======================= */

.back-overlay-content{
    display: grid;
    gap: var(--space-md);
    margin-inline: auto;
    overflow: hidden;
    padding: var(--space-md) var(--space-xl);
}

.project-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--space-sm);
}
.project-details{
    display: grid;
    gap: .5rem;
}

.project-header .project-title{
    font-size: var(--fs-md);
    font-weight: var(--fw-bold);
    color: var(--color-primary);
    text-transform: uppercase;
}


.anchor-link{
    --anchor-color:var(--text-color);
    font-size: var(--fs-sm);
    transition: .5s ease-in;
    color: var(--anchor-color);
    & svg{fill: var(--anchor-color)}
}

.anchor-link:is(:hover,:active,:focus-visible){
    text-underline-offset: 3px;
    text-decoration: underline;
    color: var(--color-primary);
    & svg{fill: var(--color-primary)}
}

.project-details{
    overflow:hidden scroll;

}
.tech-group{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.tech-pills {
    display: flex;
    flex-wrap: wrap;
    gap: .4rem;
}

.pill {
    padding: .3rem .65rem;
    border-radius: 999px;
    background: rgba(255,255,255,.06);
    border: 1px solid var(--color-white);
    font-size: .7rem;
    width: fit-content;
}


.back-overlay.open{
    visibility: visible;
    opacity: 1;
    scale: 1;
}

.back-overlay.open .back-overlay-wrapper {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}


