/* ========== RESUME SECTION ========== */
#resume .resume-buttons {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: var(--space-lg);
    justify-content: center;
}

#resume .resume-buttons .btn:last-child{
    grid-column: 1 / -1;
    justify-self: center;
}

.resume-container{
    position: relative;
}

.resume-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    visibility: hidden;
    opacity: 0;
    transform-origin: center;
    transition: transform 0.75s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    transform: scale(0);
    position: absolute;
    inset: 0;
}
.resume-wrapper.eduction,
.resume-wrapper.experience {
    padding: 2rem 0;
}

.resume-wrapper.active{
    visibility: visible;
    position:relative;
    opacity: 1;
    transform: scale(1);
}

.resume-wrapper.skills.active{
    display: grid;
}



/* ---------- Timeline ---------- */

.timeline-bar {
    background-color: var(--color-primary);
    margin-inline: auto;
    min-height: 250px;
    width: 3px;
}

.timeline-items {
    position: absolute;
    display: grid;
    gap: 8rem;
}

.timeline-items .timeline-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
}

.timeline-items .timeline-item::before {
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: var(--color-primary);
    border-radius: var(--radius-full);
}

.timeline-items .item-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    gap: .75rem;
    width: 150px;
    right: 15px;
}

.timeline-items .timeline-item.right .item-wrapper {
    left: 15px;
}

.item-wrapper .resume-details {
    display: grid;
    gap: var(--space-md);
}

.item-wrapper .resume-details h2 {
    font-size: var(--fs-sm);
    font-weight: var(--fw-bold);
}

.item-wrapper .resume-details h3 {
    font-size: .7rem;
    color: var(--text-color);
}

.item-wrapper .resume-details .date {
    background: var(--color-primary);
    color: var(--body-bg-color);
    font-size: var(--fs-sm);
    font-weight: var(--fw-bold);
    border-radius: 5px;
    padding: 0.2rem 0.6rem;
    justify-self: start;
}


/* === Skills Section === */
.resume-wrapper.skills {
    display: grid;
    gap: var(--space-lg);
}

.card-header {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-xs);
    font-weight: var(--fw-bold);
}

.card-header h2 {
    font-size: var(--fs-xl);
}

.card-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1.5rem;
    gap: 1.5rem;
}

.card-body article {
    display: flex;
    align-items: flex-start;
    gap: var(--space-sm);
}

.card-body article h3 {
    font-size: var(--fs-md);
}

.card-body article p {
    color: var(--text-color);
    font-size: var(--fs-sm);
    font-weight: 300;
}

.verified-icon {
    display: flex;
    align-items: center;
    width: 1.2rem;
}

.skill-details {
    text-align: left;
}