/* ======== SERVICES SECTION ======== */

.services-container{
    display: grid;
    gap: var(--space-lg);
    grid-template-columns: repeat(auto-fit, 250px);
    justify-content: center;
    padding: var(--space-md);
}
.services-card{
    max-width: 350px;
}
.service-icon svg{
    width: 3rem !important;
    height: 3rem !important;
    fill: var(--color-primary);
}
.services-card h3{
    font-size: var(--fs-2xl);
    font-weight: var(--fw-bold);
    margin-block: var(--space-sm);
    color: var(--color-white);
}
.see-more{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    margin-top: var(--space-md);
}
.see-more p{
    font-size: var(--fs-sm);
    font-weight: var(--fw-medium);
    color: var(--color-primary);
}
.see-more p:hover{
    text-decoration: underline;
    cursor: pointer;
}
.see-more p:hover +svg{
    transform: translate(2px,-2px);
}
.see-more svg{
    fill: var(--color-primary);
    width: 1rem;
    height: 1rem;
    transition: transform 0.3s ease;
}
.service-model-backdrop{
    display: flex;
    position: fixed;
    inset: 0;
    background-color: var(--bg-modal);
    backdrop-filter: blur(15px);
    align-items: center;
    justify-content: center;
    z-index: var(--z-top);
    visibility: hidden;
    opacity: 0;
    scale: 0;
}
.service-model{
    background-color: var(--body-bg-color);
    border-radius: var(--radius-md);
    padding: 2rem;
    max-width: 600px;
    width: 90%;
    max-height: 80vh;
    position: relative;
    border-bottom: 4px solid var(--color-primary);
    text-align: start;
    display: grid;
    row-gap: var(--space-md);
    overflow-y: hidden;
    visibility: hidden;
    opacity: 0;
    transform: scale(0.5);
    transition: visibility 0.5s ease, opacity 0.5s ease, display 0.5s ease, transform 0.5s ease-in-out;

}
.service-model-backdrop.open .service-model{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
.service-model-backdrop.open{
    visibility: visible;
    opacity: 1;
    scale: 1;
}

.service-model svg{
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--color-primary);
    transition: transform 0.5s ease-in-out;
    pointer-events: auto;
}

.service-model svg:hover{
    transform: rotate(.5turn);

}
.service-model h3,
.service-model h4{
    font-size: var(--fs-xl);
    font-weight: var(--fw-bold);
    color: var(--color-primary);
    margin-bottom: var(--space-sm);
}
.services-list{
    display: grid;
    gap: var(--space-sm);
    overflow-y: auto;
}
.services-list li{
    display: flex;
    align-items: center;
    gap: var(--space-sm);
    position: relative;
}
.services-list li:before{
    content: '✓';
    color: var(--body-bg-color);
    background: var(--color-primary);
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-full);
    font-size: var(--fs-sm);
    font-weight: var(--fw-bold);
}