/* ======= btn animation =========*/
@keyframes jello-horizontal {
    0%  {transform: scale3d(1, 1, 1);}
    30% {transform: scale3d(1.25, 0.75, 1);}
    40% {transform: scale3d(0.75, 1.25, 1);}
    50% {transform: scale3d(1.15, 0.85, 1);}
    65% {transform: scale3d(0.95, 1.05, 1);}
    75% {transform: scale3d(1.05, 0.95, 1);}
    100% {transform: scale3d(1, 1, 1);}
}

/* ======= icon animation =========*/

@keyframes keyframes-fill {
    0% {transform:rotate(0) scale(0);opacity: 0}
    100% {transform:rotate(1turn) scale(1);opacity:1}
}

/* ======= scroll down animation =========*/

@-webkit-keyframes mouse-wheel {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
}
@-moz-keyframes mouse-wheel {
    0% {
        top: 1px;
    }
    25% {
        top: 2px;
    }
    50% {
        top: 3px;
    }
    75% {
        top: 2px;
    }
    100% {
        top: 1px;
    }
}
@-o-keyframes mouse-wheel {

    0% {
        top: 1px;
    }
    25% {
        top: 2px;
    }
    50% {
        top: 3px;
    }
    75% {
        top: 2px;
    }
    100% {
        top: 1px;
    }
}
@keyframes mouse-wheel {

    0% {
        top: 1px;
    }
    25% {
        top: 2px;
    }
    50% {
        top: 3px;
    }
    75% {
        top: 2px;
    }
    100% {
        top: 1px;
    }
}
@-webkit-keyframes mouse-scroll {

    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes mouse-scroll {

    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes mouse-scroll {

    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}
@keyframes mouse-scroll {

    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

/* ======= ABOUT ROTATE ANIMATION =========*/

@keyframes Rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes Rotate-reverse {
    from {transform: rotate(360deg);}
    to {transform: rotate(0deg);}
}

@keyframes circle-rotate {
    from {transform: translate(-50%, -50%) rotate(45deg);}
    to {transform: translate(-50%, -50%) rotate(405deg);}
}


@keyframes img-rotate {
    from {transform: rotate(-45deg);}
    to {transform: rotate(-405deg);}
}