<header class="header">
    <div class="container">
        <div class="inner">
            <div class="logo">
                <a href="#home"><span>Mohammed</span> El Aouri</a>
            </div>
            <div class="header-btn">
                <a href="#contact" class="lets-talk-icon"><i class="ri-chat-smile-3-fill"></i></a>
                <div class="theme-btn">
                    <i class="ri-sun-fill sun-icon"></i>
                    <i class="ri-moon-fill moon-icon"></i>
                </div>
                <div class="main-btn border-btn lets-talks-btn">
                    <a href="#contact">Let's Talk</a>
                </div>
            </div>
        </div>
    </div>
</header>
