<div class="bottom-nav">
    <div class="bottom-nav-inner">
        <i class="ri-arrow-left-down-line menu-hide-btn"></i>
        <ul class="menu">
            <li class="menu-item"><a href="#hero" class="current"><i class="ri-home-4-line"></i><span>Home</span></a></li>
            <li class="menu-item"><a href="#about"><i class="ri-user-line"></i><span>About</span></a></li>
            <li class="menu-item"><a href="#resume"><i class="ri-file-line"></i><span>Resume</span></a></li>
            <li class="menu-item"><a href="#services"><i class="ri-service-line"></i><span>Services</span></a></li>
            <li class="menu-item"><a href="#portfolio"><i class="ri-briefcase-line"></i><span>Portfolio</span></a></li>
            <li class="menu-item"><a href="#contact"><i class="ri-chat-1-line"></i><span>Contact</span></a></li>
        </ul>
    </div>
</div>
<div class="menu-show-btn">
    <div class="bar-01"></div>
    <div class="bar-02"></div>
</div>