*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--body-font-family);
}
ul,li{
    list-style: none;
}
a{
    color:var(--color-04);
    text-decoration: none;
    cursor: pointer;
}
/* ========== Page scroll bar ========== */
::-webkit-scrollbar{
    width: 10px;
    background: var(--scrollbar-color);
}
::-webkit-scrollbar-thumb{
    background: var(--scrollbar-thumb);
    border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover{
    background: var(--scrollbar-thumb-hover);
}