    <div class="container sub-container">
        <div class="section-title">
            <h3>Portfolio</h3>
            <p>My Creative works</p>
        </div>
        <div class="portfolio-tabs">
            <a class="tab-btn active" data-filter="all">ALL</a>
            <a class="tab-btn" data-filter="Templates">Templates</a>
            <a class="tab-btn" data-filter="Front-End">Front-End</a>
            <a class="tab-btn" data-filter="Back-End">Back-End</a>
            <a class="tab-btn" data-filter="Full-Stack">Full-Stack</a>
            <a class="tab-btn" data-filter="Back-End">Game-Development</a>
        </div>
        <div class="section-content">
            <div class="portfolio-container">
                <div class="card-with-modal Templates">
                    <div class="portfolio-card">
                        <div class="card-img">
                            <img src="assets/screenshots/Templates/hooBank/01.png" alt="hooBank-template">
                        </div>
                        <div class="card-info">
                            <span>Templates</span>
                            <h3>Dynamic</h3>
                            <i class="ri-arrow-right-up-line card-btn"></i>
                        </div>
                    </div>
                    <div class="portfolio-modal-backdrop">
                        <div class="portfolio-modal">
                            <a class="modal-close-btn"><i class="ri-close-line"></i></a>
                            <div class="modal-content">
                                <div class="modal-image">
                                    <img src="assets/screenshots/Templates/hooBank/02.png" alt="hooBank-template">
                                </div>
                                <h4 class="modal-title">Modern UI/UX website using React.js & Tailwind CSS</h4>
                                <p class="description">
                                    <span>Description:</span>
                                    This is a fully responsive modern website built to showcase clean design principles, responsive layouts, and smooth UI/UX experiences across all devices. The design is elegant and minimalistic, with well-structured sections like Hero, Services, About, Projects, and Contact.
                                    💻 Technologies Used:
                                <ul>
                                    <li>HTML5 & CSS3</li>
                                    <li>JavaScript (Vanilla)</li>
                                    <li>Responsive Design Techniques</li>
                                    <li>Flexbox & Grid</li>
                                    <li>Vercel for deployment</li>
                                </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-with-modal Front-End">
                    <div class="portfolio-card">
                        <div class="card-img">
                            <img src="assets/screenshots/front-end/e-commerce-web-app/01.png" alt="e-commerce-web-app">
                        </div>
                        <div class="card-info">
                            <span>Templates</span>
                            <h3>Dynamic</h3>
                            <i class="ri-arrow-right-up-line card-btn"></i>
                        </div>
                    </div>
                    <div class="portfolio-modal-backdrop">
                        <div class="portfolio-modal">
                            <a class="modal-close-btn"><i class="ri-close-line"></i></a>
                            <div class="modal-content">
                                <div class="modal-image">
                                    <img src="assets/screenshots/front-end/e-commerce-web-app/01.png" alt="">
                                </div>
                                <h4 class="modal-title">Project: E-Commerce Website (React.js)</h4>
                                <p class="description">
                                    A modern, responsive e-commerce web application built using React.js, designed to provide users with a smooth and interactive shopping experience. The site includes all the core functionalities of a real-world online store, from browsing products to managing a shopping cart.
                                    Purpose:
                                    This project demonstrates front-end development skills in a real-world scenario, with a strong focus on component-based architecture, user interactions, and state management in React. It's ideal for showcasing practical knowledge in building scalable and interactive applications.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-with-modal Front-End">
                    <div class="portfolio-card">
                        <div class="card-img">
                            <img src="assets/screenshots/front-end/portfolio/01.png" alt="">
                        </div>
                        <div class="card-info">
                            <span>Templates</span>
                            <h3>Dynamic</h3>
                            <i class="ri-arrow-right-up-line card-btn"></i>
                        </div>
                    </div>
                    <div class="portfolio-modal-backdrop">
                        <div class="portfolio-modal">
                            <a class="modal-close-btn"><i class="ri-close-line"></i></a>
                            <div class="modal-content">
                                <div class="modal-image">
                                    <img src="assets/screenshots/front-end/portfolio/02.png" alt="">
                                </div>
                                <h4 class="modal-title">Modern UI/UX website using React.js & Tailwind CSS</h4>
                                <p class="description">
                                    <span>Description:</span>
                                    This is a fully responsive modern website built to showcase clean design principles, responsive layouts, and smooth UI/UX experiences across all devices. The design is elegant and minimalistic, with well-structured sections like Hero, Services, About, Projects, and Contact.
                                    💻 Technologies Used:
                                <ul>
                                    <li>HTML5 & CSS3</li>
                                    <li>JavaScript (Vanilla)</li>
                                    <li>Responsive Design Techniques</li>
                                    <li>Flexbox & Grid</li>
                                    <li>Vercel for deployment</li>
                                </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-with-modal Front-End">
                    <div class="portfolio-card">
                        <div class="card-img">
                            <img src="assets/screenshots/full-stack/Doctor-Appointment-Booking-System/1.png" alt="">
                        </div>
                        <div class="card-info">
                            <span>Templates</span>
                            <h3>Dynamic</h3>
                            <i class="ri-arrow-right-up-line card-btn"></i>
                        </div>
                    </div>
                    <div class="portfolio-modal-backdrop">
                        <div class="portfolio-modal">
                            <a class="modal-close-btn"><i class="ri-close-line"></i></a>
                            <div class="modal-content">
                                <div class="modal-image">
                                    <img src="assets/screenshots/full-stack/Doctor-Appointment-Booking-System/1.png" alt="">
                                </div>
                                <h4 class="modal-title">Medical Appointment System</h4>
                                <p class="description">
                                    <span>Description:</span>
                                    A comprehensive system for managing medical appointments, built using the MERN stack (MongoDB, Express.js, React.js, Node.js). This project provides a user-friendly platform for patients and doctors to manage appointments, with an admin panel for centralized management.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--        <div class="testimonials">-->
<!--            <div class="section-title">-->
<!--                <h3>Best Courses</h3>-->
<!--                <p>My Top Learning Resources</p>-->
<!--            </div>-->
<!--            <div class="section-content">-->
<!--                <div class="swiper client-swiper">-->
<!--                    <div class="swiper-wrapper">-->

<!--                        &lt;!&ndash; JavaScript Course &ndash;&gt;-->
<!--                        <div class="swiper-slide">-->
<!--                            <div class="client-image">-->
<!--                                <img src="assets/images/courses/javascript.png" alt="JavaScript Course" />-->
<!--                            </div>-->
<!--                            <div class="client-details">-->
<!--                                <h3>JavaScript Mastery</h3>-->
<!--                                <span>Complete Guide</span>-->
<!--                                <p>A deep dive into JavaScript concepts like closures, prototypes, async/await, and more.</p>-->
<!--                                <p><a href="https://github.com/kimbo-slicee/JavaScript-Course" target="_blank">View Course</a></p>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        &lt;!&ndash; SQL Course &ndash;&gt;-->
<!--                        <div class="swiper-slide">-->
<!--                            <div class="client-image">-->
<!--                                <img src="assets/images/courses/mysql.jpg" alt="SQL Course" />-->
<!--                            </div>-->
<!--                            <div class="client-details">-->
<!--                                <h3>SQL & Relational Algebra</h3>-->
<!--                                <span>Query Like a Pro</span>-->
<!--                                <p>Master database queries with SQL and understand how relational algebra works.</p>-->
<!--                                <p><a href="#" target="_blank">Coming Soon</a></p>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        &lt;!&ndash; PHP Course &ndash;&gt;-->
<!--                        <div class="swiper-slide">-->
<!--                            <div class="client-image">-->
<!--                                <img src="assets/images/courses/php.jpg" alt="PHP Course" />-->
<!--                            </div>-->
<!--                            <div class="client-details">-->
<!--                                <h3>PHP for Beginners</h3>-->
<!--                                <span>Web Development</span>-->
<!--                                <p>Build dynamic websites and understand PHP fundamentals with real-world examples.</p>-->
<!--                                <p><a href="#" target="_blank">Coming Soon</a></p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
