.container {
    width: min(80%, 1200px);
    margin-inline: auto;
}
.wrapper {
    display: flex;
    flex-direction: column;
}
.section {
    padding-block: var(--space-md);
}
.section-header {
    margin-block-end: var(--space-xl);
    text-align: center;
}
#header {
    padding-block: var(--space-md);
}

#hero {
    padding-block: var(--space-md);
}


