@import "reset.css" layer(reset);
@import "typography.css" layer(typography);
@import "variables.css" layer(variables);
@import "themes.css" layer(themes);
@import "base.css" layer(base);
@import "layouts.css" layer(layout);
@import "components.css" layer(components);
@import "utilities.css" layer(utilities);
@import "responsive.css" layer(responsive);
@import "animations.css" layer(animations);

/* view animation for theme change */
::view-transition-old(root) {
    animation-delay: .5s;
}

::view-transition-new(root) {
    animation: circle-in .5s;
}

@keyframes move-in {
    from { translate: 0 -100%; }
    to { translate: 0  0; }
}

@keyframes circle-in {
    from { clip-path: circle(0% at 50% 0%); }
    to { clip-path: circle(120% at 50% 0%); }
}

/* scroll Bar styling */
::-webkit-scrollbar {
    width: 5px;
    background-color: var(--scrollbar-bg);
}
::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 5px;

}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover);
}

/* Define the order of layers */
@layer
variables,
reset,
typography,
themes,
base,
layout,
components,
animations,
utilities,
responsive










