/* Medium devices (tablet) */
@media (min-width: 768px) {
    body {
         .cta-button {
            a {
                display: inline-block;
            }

            button {
                display: none;
            }
        }
        #hero .hero-content {
            justify-content: space-between;
            grid-template-areas:
                'hero-socials hero-image hero-image hero-scroll'
                'hero-socials hero-text hero-text hero-scroll';
        }
        #hero .hero-content .hero-image img {
            min-width: 300px;
        }
        #hero .social-links {
            display: flex;
        }
        #hero .hero-content .hero-text {
            grid-area: hero-text;

        }

        /* ====== ABOUT SECTION ====== */
        /* ====== RESUME SECTION ====== */
        #resume .resume-buttons {
            grid-template-columns: repeat(3, auto);
        }

        /* Let buttons size naturally on desktop */
        #resume .resume-buttons .btn {
            width: auto;
        }

        /* Put the last button into the 3rd column */
        #resume .resume-buttons .btn:last-child {
            grid-column: 3 / 4 ;
        }

        #resume .resume-container{
            margin-top: 5rem;

        }

        .timeline-items .item-wrapper {
            position: absolute;
            display: flex;
            align-items: center;
            gap: .75rem;
            width: 180px;
            right: 50px;
        }

        .timeline-items .timeline-item.right .item-wrapper {
            left: 50px;
        }

        .item-wrapper .resume-details {
            display: grid;
            gap: var(--space-sm);
        }

        .item-wrapper .resume-details h2 {
            font-size: var(--fs-md);
            font-weight: var(--fw-bold);
        }

        .item-wrapper .resume-details h3 {
            font-size: var(--fs-xs);
            color: var(--color-white);
        }
        /* ====== RESUME SECTION ====== */
        #resume .resume-wrapper.skills {
            grid-template-columns: repeat(2, auto);
        }
        /* ===== SERVICES SECTION ====== */
        #services .services-container {
            grid-template-columns: repeat(3, auto);
            column-gap: var(--space-md);
            place-items: stretch;
        }

        /* ====== PORTFOLIO SECTION ====== */
    }


}

/* Large devices (desktop) */
@media (min-width: 1025px) {
    body {
        /* ====== Hero SECTION ====== */
        #hero .hero-content {
            justify-content: space-between;
            grid-template-areas:
                'hero-socials hero-image hero-image hero-text hero-scroll';
        }
        #hero .hero-content .hero-image img {
            width: 400px;
        }
        #hero .hero-content .hero-text {
            justify-items: flex-start;
            text-align: left;
        }
        #hero .hero-content .hero-text .hero-button {
            justify-self: flex-start;
        }
        #hero .hero-content .social-links {
            justify-self: left;
        }
        #hero .hero-content .mouse-scroll {

        }

        /* ====== ABOUT SECTION ====== */
        #about .about-content {
            grid-template-areas:
                    'hero-circle about-text'
                    'hero-circle about-carousel';
            grid-template-columns: 1fr auto;
            align-content: center;
            gap: var(--space-xl);
        }
        #about .about-content .about-text {
            text-align: left;
        }

    }
}

/* Extra large screens */
@media (min-width: 1440px) {


}
