@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/lato/Lato-Regular.woff2') format('woff2'),
       url('../fonts/lato/Lato-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/lato/Lato-Bold.woff2') format('woff2'),
       url('../fonts/lato/Lato-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/lato/Lato-Italic.woff2') format('woff2'),
       url('../fonts/lato/Lato-Italic.woff') format('woff');
}
/*--------Montserrat font-------------*/

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat.woff2') format('woff2'),
         url('../fonts/Montserrat/Montserrat.woff') format('woff');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Italic.woff2') format('woff2'),
         url('../fonts/Montserrat/Montserrat-Italic.woff') format('woff');
    font-weight: 100 900;
    font-style: italic;
}
/*-------------PlayfairDisplay-------------*/

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff2') format('woff2'),
         url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff') format('woff');
    font-weight: 100 900;
    font-style: normal;
}
@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Italic.woff2') format('woff2'),
         url('../fonts/PlayfairDisplay/PlayfairDisplay-Italic.woff') format('woff');
    font-weight: 100 900;
    font-style: italic;
}


