.home-container{
    height:100vh;
}
.home-container .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatar-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
}
.avatar-img{
    position: relative;
    width: 500px;
    height: 400px;
}
.avatar-img img{
    position: absolute;
    width: 90%;
}
.home-social{
    position: absolute;
    left: 0;
    top: 30vh;
}
.home-social span{
    position: absolute;
    left: 10px;
    color:var(--color-01);
    font-size: var(--tiny-font-size);
    white-space: nowrap;
    transform: rotateZ(-90deg);
    transform-origin:left;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.home-social .social-line{
    background: var(--color-01);
    width: 1px;
    height: 100px;
    margin-top: 37px;
    margin-bottom: 25px;
    margin-left: 10px;
}
.home-social .social-icons{
    display: flex;
    flex-direction: column;
    gap:25px;
}
.home-social .social-icons li a {
    color: var(--color-01);
    font-size: var(--xlarge-font-size);
    transition: .3s;
}
.home-social .social-icons li a:hover{
    color: var(--hover-color);
}
.avatar-container .hire-btn-01{
    display: none;
}
.avatar-info{
    position: relative;
}
.avatar-info .text-content{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.avatar-info{
    font-size: var(--base-font-size);
    font-weight: var(--font-semi-bold);
}
.avatar-info .my-name{
    color: var(--color-01);
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
}
.avatar-info .what-i-do{
    font-size: var(--base-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom:35px;
}
.home-scroll-btn{
    position: absolute;
    right: -5px;
    color: var(--color-01);
    display: grid;
    justify-items: center;
    row-gap:5px;
    animation: up-down 1.5s linear infinite;
    animation-delay:1.85s;
    font-size: var(--medium-font-size);
}
.home-scroll-btn:hover{
    color: var(--hover-color);
}
.home-scroll-btn div{
    font-size: var(--tiny-font-size);
    font-weight: var(--font-regular);
    white-space: nowrap;
    transform: rotate(-180deg);
    margin-top: 7px;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    text-transform: uppercase;
}
@keyframes up-down{
    0%{
        transform: translateY(8px);
    }
    50%{
        transform: translateY(-8px);
    }100%{
         transform: translateY(8px);
     }
}