<div class="container sub-container">
    <div class="wrapper">
        <div class="section-title">
            <h3>My Resume</h3>
            <p>Combination Of Skills & Experience</p>
        </div>
        <div class="resume-tabs">
            <a class="tab-btn active"><i class="ri-graduation-cap-line"></i>Eduction</a>
            <a class="tab-btn"><i class="ri-sparkling-line"></i>Experience</a>
            <a class="tab-btn"><i class="ri-user-settings-line"></i>Personal Skills</a>
        </div>
        <div class="section-content">
            <div class="resume-tab-content education active visible">
                <div class="resume-line"></div>
                <div class="resume-items">
                    <div class="item item-left">
                        <div class="info">
                            <i class="ri-graduation-cap-fill"></i>
                            <div>
                                <h5>Diploma in Development Informatique</h5>
                                <p>Sale Morocco - specialized institute of applied technology</p>
                                <span>2021-2023</span>
                            </div>
                        </div>
                    </div>
                    <div class="item item-right">
                        <div class="info">
                            <i class="ri-graduation-cap-fill"></i>
                            <div>
                                <h5>General University Diploma in Physical Sciences</h5>
                                <p>Rabat Morocco - La Faculté des Sciences de Rabat (FSR)</p>
                                <span>2017-2020</span>
                            </div>
                        </div>
                    </div>
                    <div class="item item-left">
                        <div class="info">
                            <i class="ri-graduation-cap-fill"></i>
                            <div>
                                <h5>High school Diploma in physical sciences</h5>
                                <p>High school,ABDESSALAM AMER  SALE,Morocco</p>
                                <span>2016-2017</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="resume-tab-content experience ">
                <div class="resume-line"></div>
                <div class="resume-items">
                    <div class="item item-left">
                        <div class="info">
                            <i class="ri-sparkling-fill"></i>
                            <div>
                                <h5>Medical Appointment Booking System (Personal Project)</h5>
                                <p>Salé, Morocco – Self-initiated project</p>
                                <span>12/2024 – 01/2025</span>
                            </div>
                        </div>
                    </div>
                    <div class="item item-right">
                        <div class="info">
                            <i class="ri-sparkling-fill"></i>
                            <div>
                                <h5>Full Stack Java Spring / Angular Training</h5>
                                <p>Rabat, Morocco – Jobintech, International University of Rabat</p>
                                <span>10/2023 – 03/2024</span>
                            </div>
                        </div>
                    </div>
                    <div class="item item-left">
                        <div class="info">
                            <i class="ri-sparkling-fill"></i>
                            <div>
                                <h5>End-of-Studies Internship – PHP Laravel / React.js</h5>
                                <p>Rabat Agdal, Morocco – Wassla Digital Agency</p>
                                <span>01/2023 – 03/2023</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="resume-tab-content personal-skills  ">
                <div class="skill-container">
                    <!-- Front-End -->
                    <div class="skill-card">
                        <div class="skill-title">
                            <i class="ri-code-s-slash-fill"></i>
                            <span>Front-End</span>
                        </div>
                        <div class="skill-categories">
                            <div class="skill">
                                <i class="ri-checkbox-circle-fill"></i>
                                <div class="skill-info">
                                    <h5>HTML | CSS</h5>
                                    <span>Advanced</span>
                                </div>
                            </div>
                            <div class="skill">
                                <i class="ri-checkbox-circle-fill"></i>
                                <div class="skill-info">
                                    <h5>JavaScript</h5>
                                    <span>Advanced</span>
                                </div>
                            </div>
                            <div class="skill">
                                <i class="ri-checkbox-circle-fill"></i>
                                <div class="skill-info">
                                    <h5>TypeScript</h5>
                                    <span>Advanced</span>
                                </div>
                            </div>
                            <div class="skill">
                                <i class="ri-checkbox-circle-fill"></i>
                                <div class="skill-info">
                                    <h5>Tailwind CSS</h5>
                                    <span>Advanced</span>
                                </div>
                            </div>
                            <div class="skill">
                                <i class="ri-checkbox-circle-fill"></i>
                                <div class="skill-info">
                                    <h5>React</h5>
                                    <span>Advanced</span>
                                </div>
                            </div>
                            <div class="skill">
                                <i class="ri-checkbox-circle-fill"></i>
                                <div class="skill-info">
                                    <h5>Next.js</h5>
                                    <span>Advanced</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Back-End -->
                    <div class="skill-card">
                        <div class="skill-title">
                            <i class="ri-macbook-fill"></i>
                            <span>Back-End</span>
                        </div>
                        <div class="skill-categories">
                            <div class="skill">
                                <i class="ri-checkbox-circle-fill"></i>
                                <div class="skill-info">
                                    <h5>Python</h5>
                                    <span>Advanced</span>
                                </div>
                            </div>
                            <div class="skill">
                                <i class="ri-checkbox-circle-fill"></i>
                                <div class="skill-info">
                                    <h5>PHP</h5>
                                    <span>Intermediate</span>
                                </div>
                            </div>
                            <div class="skill">
                                <i class="ri-checkbox-circle-fill"></i>
                                <div class="skill-info">
                                    <h5>Java</h5>
                                    <span>Intermediate</span>
                                </div>
                            </div>
                            <div class="skill">
                                <i class="ri-checkbox-circle-fill"></i>
                                <div class="skill-info">
                                    <h5>Node.js</h5>
                                    <span>Advanced</span>
                                </div>
                            </div>
                            <div class="skill">
                                <i class="ri-checkbox-circle-fill"></i>
                                <div class="skill-info">
                                    <h5>Laravel</h5>
                                    <span>Intermediate</span>
                                </div>
                            </div>
                            <div class="skill">
                                <i class="ri-checkbox-circle-fill"></i>
                                <div class="skill-info">
                                    <h5>Spring</h5>
                                    <span>Intermediate</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Database -->
                    <div class="skill-card">
                        <div class="skill-title">
                            <i class="ri-database-2-fill"></i>
                            <span>Database</span>
                        </div>
                        <div class="skill-categories">
                            <div class="skill">
                                <i class="ri-checkbox-circle-fill"></i>
                                <div class="skill-info">
                                    <h5>MongoDB </h5>
                                    <span>Advanced</span>
                                </div>
                            </div>
                            <div class="skill">
                                <i class="ri-checkbox-circle-fill"></i>
                                <div class="skill-info">
                                    <h5>MySQL</h5>
                                    <span>Advanced</span>
                                </div>
                            </div>
                            <div class="skill">
                                <i class="ri-checkbox-circle-fill"></i>
                                <div class="skill-info">
                                    <h5>PostgreSQL</h5>
                                    <span>Intermediate</span>
                                </div>
                            </div>
                            <div class="skill">
                                <i class="ri-checkbox-circle-fill"></i>
                                <div class="skill-info">
                                    <h5>SQL Server</h5>
                                    <span>Beginner</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- CI/CD -->
                    <div class="skill-card">
                        <div class="skill-title">
                            <i class="ri-tools-fill"></i>
                            <span>CI / CD</span>
                        </div>
                        <div class="skill-categories">
                            <div class="skill">
                                <i class="ri-checkbox-circle-fill"></i>
                                <div class="skill-info">
                                    <h5>Git</h5>
                                    <span>Advanced</span>
                                </div>
                            </div>
                            <div class="skill">
                                <i class="ri-checkbox-circle-fill"></i>
                                <div class="skill-info">
                                    <h5>GitHub</h5>
                                    <span>Intermediate</span>
                                </div>
                            </div>
                            <div class="skill">
                                <i class="ri-checkbox-circle-fill"></i>
                                <div class="skill-info">
                                    <h5>Vercel</h5>
                                    <span>Advanced</span>
                                </div>
                            </div>
                            <div class="skill">
                                <i class="ri-checkbox-circle-fill"></i>
                                <div class="skill-info">
                                    <h5>Docker</h5>
                                    <span>Intermediate</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>