.cursor {
    z-index: var(--z-top);
    position: fixed;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

}

.cursor-dot {
    position: absolute;
    width: .5rem;
    height: .5rem;
    border-radius: var(--radius-full);
    background: var(--color-primary);
    /* ONLY animate size */
    transition: width .3s, height .3s, background .3s;
    will-change: transform;
}

.cursor-circle {
    position: absolute;
    opacity: .5;
    height: 2rem;
    width: 2rem;
    border: 2px solid var(--color-primary);
    border-radius: var(--radius-full);
    transform: translate(-50%, -50%);
    will-change: transform;
}

.cursor-dot.large {
    background: hsl(var(--hue) var(--sat) var(--light) / .35);
    width: 5rem;
    height: 5rem;
}