input,
textarea{
    display: block;
    background: var(--bg-card);
    padding:1rem 1.1rem;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: var(--radius-sm);
}
textarea{
    resize: none;
}
.contact-form-fields button{
    padding: .75rem 1rem;
}