/* =========================================
   Bottom navigation menu
========================================= */
.bottom-nav-container{
    position:relative ;
}
.bottom-nav {
    z-index: var(--z-fixed);
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: .5s ease , .3s ease;
    transition-property:bottom,opacity;
}
.bottom-nav.active{
    bottom: 10px;
    opacity: 1;
    transition: .5s ease,.3s ease;
    transition-property:bottom,opacity;
}
.bottom-nav-inner{
    position: relative;
}
.bottom-nav .menu{
    background:var(--bottom-nav-bg);
    backdrop-filter:blur(10px);
    padding:  10px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
    border-bottom: 1px solid hsl(var(--hue) 45% 98% /.1);
    border-left: 1px solid hsl(var(--hue) 45% 98% /.1);
    border-radius: 50px;
    /*display: none;*/
}
.bottom-nav .menu li a{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bottom-nav .menu li a i{
    color: var(--color-02);
    font-size: 1.3rem;
    padding: 5px;
    border-radius: 50%;
    transition: .3s;
}
.bottom-nav .menu li:hover a i{
    color: var(--white-color);
    background: var(--hover-color);
}
.bottom-nav .menu .current i{
    color: var(--dark-color);
    background: var(--primary-color);
}
.bottom-nav .menu li a span{
    z-index: var(--z-tooltip);
    position: absolute;
    color: var(--dark-color);
    background: var(--primary-color);
    font-size: var(--tiny-font-size);
    font-weight: var(--font-medium);
    padding:3px 10px;
    transform: translateY(-53px);
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;
    transition: all .5s ease-in-out;
}
.bottom-nav .menu li:hover a span{
    opacity: 100%;
}
.bottom-nav .menu li a span:before{
    content: "";
    z-index:var(--z-minus);
    position: absolute;
    background: var(--primary-color);
    width: 10px;
    height:10px;
    left: 50%;
    bottom: -8px;
    transform: rotate(54deg) translateX(-50%);
}
.bottom-nav .menu-hide-btn{
    z-index: var(--z-fixed);
    position: absolute;
    top: -5px;
    right: -5px;
    color:var(--dark-color);
    font-size: 1rem;
    background: var(--primary-color);
    padding: 2px;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s ease;
    pointer-events: none;
    opacity: 0;
}
.menu-hide-btn.active{
    pointer-events:all;
    opacity: 1;
}
.bottom-nav .menu-hide-btn:hover{
    color:var(--white-color);
    background:var(--hover-color);
}
.menu-show-btn{
    z-index: var(--z-fixed);
    position: fixed;
    background: var(--bottom-nav-bg);
    backdrop-filter:blur(10px);
    width: 85px;
    height: 50px;
    border-bottom: 1px solid hsl(var(--hue) 45% 98% / .1);
    border-left: 1px solid hsl(var(--hue) 45% 98% / .1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap:5px;
    translate: -50% 0;
    left:50%;
    bottom: -75px;
    opacity: 0;
    border-radius:5px;
    cursor: pointer;
    overflow: hidden;
    animation: wiggle 2s linear infinite;
    animation-delay: 1s;
    transition: .5s ease, .3s ease;
    transition-property: bottom , opacity;
}
.menu-show-btn.active{
    bottom: 50px;
    opacity: 1;
    transition: .5s ease, .3s ease;
    transition-property: bottom , opacity;
}
@keyframes wiggle {
    0%,
    5%{
        transform: rotateZ(0);
    }
    15%{
        transform: rotateZ(-15deg);
    }
    20%{
        transform: rotateZ(10deg);
    }
    25%{
        transform: rotateZ(-10deg);
    }
    30%{
        transform: rotateZ(6deg);
    }
    35%{
        transform: rotateZ(-4deg);
    }
    40%,100%{
        transform: rotateZ(0);
    }
}
.menu-show-btn .bar-01,.menu-show-btn .bar-02{
    background:var(--primary-color);
    width: 40px;
    height: 4px;
    transition: .15s;
}
.menu-show-btn:hover .bar-01,
.menu-show-btn:hover .bar-02{
    background: var(--hover-color);
}