<div class="container sub-container">
    <div class="section-title">
        <h3>Portfolio</h3>
        <p>My Creative works</p>
    </div>
        <ul id="mainTabs" class="portfolio-tabs"></ul>
        <ul id="subTabs" class="portfolio-sub-tabs"></ul>
        <!--PortFolio Cards Container-->
        <div class="section-content portfolio-container"></div>
        <div class="container ">
            <div class="section-title">
            <h3>My Articles </h3>
            <p>My Articles on Medium</p>
            </div>
            <div class="articles-container">
                <div class="circle"></div>
                <div class="content"></div>
            </div>
        </div>
</div>