.hero-container{
    height:100vh;
    position: relative;
}
.hero-container .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.avatar-img{
    width: 450px;

}
.avatar-img img{
    width: 80%;
}
.home-social{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 70%;
    position: absolute;
    left: -5%;

}
.home-social span{
    color:var(--color-01);
    font-size: var(--tiny-font-size);
    white-space: nowrap;
    letter-spacing: 2px;
    transform: rotate(-90deg);
    width: calc(100% / 3);
}
.home-social .social-line{
    background: var(--color-01);
    width: 1px;
    height: 120px;
}
.home-social .social-icons{
    display: flex;
    flex-direction: column;
    gap:25px;
}
.home-social .social-icons li a {
    color: var(--color-01);
    font-size: var(--xlarge-font-size);
    transition: color .4s ease-in;
}
.home-social .social-icons li a:hover{
    color: var(--hover-color);
}
.avatar-container .hire-btn-01{
    display: none;
}
.hire-btn-02{
    color: var(--color-01);
}
.avatar-info{
    position: relative;
}
.avatar-info .text-content{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.avatar-info{
    font-size: var(--base-font-size);
    font-weight: var(--font-semi-bold);
}
.avatar-info .name{
    color: var(--color-01);
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

.avatar-info .what-i-do{
    font-size: var(--base-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom:35px;
}
/*Scroll Btn*/
.home-scroll-btn{
    position: absolute;
    right: -5px;
    color: var(--color-01);
    display: grid;
    justify-items: center;
    row-gap:5px;
    animation: up-down 1.5s linear infinite;
    animation-delay:1.85s;
    font-size: var(--medium-font-size);
}
.home-scroll-btn:hover{
    color: var(--hover-color);
}
.home-scroll-btn div{
    font-size: var(--tiny-font-size);
    font-weight: var(--font-regular);
    white-space: nowrap;
    transform: rotate(-180deg);
    margin-top: 7px;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    text-transform: uppercase;
}
@keyframes up-down{
    0%{
        transform: translateY(8px);
    }
    50%{
        transform: translateY(-8px);
    }100%{
         transform: translateY(8px);
     }
}
/*Text Typing animation*/
#typing-name::after,
#typing-role::after {
    content: "|";
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

/*scroll Animation*/

