/* =========================================
   Contact Me
========================================= */
.contact-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
}
.contact-info h3{
    color: var(--color-02);
    font-size: var(--base-font-size);
    font-weight: var(--medium-font-size);
    text-transform: uppercase;
    margin-bottom: 40px;
}
.contact-details{
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    margin-bottom: 50px;
}
.contact-item{
    display: flex;
    align-items: center;
    column-gap: 25px;
}
.contact-icon{
    color: var(--primary-color);
    font-size: 2rem;
    background: var(--card-bg);
    width: 75px;
    height: 75px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.contact-method{
    display: flex;
    flex-direction: column;
    row-gap: 7px;
}
.contact-method span{
    font-size: var(--tiny-font-size);
    text-transform: uppercase;
}
.contact-method h4{
    color: var(--color-02);
    font-size: var(--base-font-size);
    font-weight: var(--font-medium);
}
.contact-method a{
    color: var(--primary-color);
    transition: .3s;
}
.contact-method a:hover{
    color: var(--hover-color);
}
.contact-method a span{
    font-size: var(--small-font-size);
    text-transform: uppercase;
}
.contact-method a i{
    font-size: var(--medium-font-size);

}
.contact-social-links{
    width: 100%;
    display: flex;
    column-gap: 25px;
}
.contact-social-links li{
    font-size:1.75rem;
    background: var(--card-bg);
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 50%;
    cursor: pointer;
}
.contact-social-links li a{
    color: var(--primary-color);
    transition: .3s;
}
.contact-social-links li:hover a{
    color: var(--hover-color);
}
.contact-form-container{
    position: relative;
    background: var(--card-bg);
    width: 100%;
    padding: 50px;
    border-radius: 35px;
}
.contact-form-container h2{
    color: var(--color-02);
    font-size: var(--h2-font-size);
    font-weight: var(--font-bold);
    text-transform: uppercase;
    margin-bottom: 30px;
}
.contact-form-container h2 span{
    color: var(--color-01);
}
.contact-form-container p{
    font-size: var(--tiny-font-size);
    margin-bottom: 45px;
}
.contact-form-container form{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.contact-form-container form .input-group input,
.contact-form-container form .input-group textarea{
    color: var(--color-02);
    font-size: var(--small-font-size);
    background: hsl(var(--hue) 54% 62%/.1);
    width: 100%;
    border: none;
    outline: none;
    padding: 17px 20px;
    border-radius: 10px;
}
.contact-form-container form .input-group textarea {
    height: 185px;
    resize: none;
}
.contact-form-container .input-group button{
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    width: 200px;
    padding: 16px 30px;
    margin-top: 10px;
    transition: .3s;
}
.contact-form-alert{
    color: var(--color-02);
    font-size: var(--tiny-font-size);
    font-weight: var(--font-regular);
}
.contact-form-alert i{
    color: var(--primary-color);
    font-size: 1.25rem;
    margin-left: 5px;
}

.contact-form-container form .send-message{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

