/* === FONTS === */
@import url("https://fonts.googleapis.com/css2?family=Alice&family=Berkshire+Swash&family=Lora:ital@0;1&family=Merriweather:wght@400;700&family=Playfair+Display:wght@700&display=swap");
/*=== GLOBAL VARIABLES ===*/
/*=== ROOT VARIABLES ===*/
:root {
    --cover-color: hsl(150deg, 100%, 15%);
    --page-first-color: hsl(36, 48%, 80%);
    --page-second-color: hsl(36, 48%, 70%);
    --page-last-color: hsl(36, 48%, 25%);
    --translate-x: 50%;
    /**/
    --clr-bg: #222;
    --clr-primary: #f5f5f5;
    --clr-secondary: #075985;
    --clr-cta: rgb(175, 208, 84);
    --base-rotation: 0deg;
    --full-circle: 360deg;
    --radius: 13vw;
    --duration: 200ms;
    --cards-container-size: calc(var(--radius) );
    --cards-container-padding: 2rem;
    --border-color: transparent;
    --label-offset: calc(var(--radius) * -1 - 1rem);
    --label-size: 30px;
    --label-color: #1a1a1a;
    --label-color-hover: var(--page-second-color);
    --label-line-h: 0;
    --label-line-h-current: 2rem;
    --label-dot-size: 10px;
    --title-top: 2rem;
    --title-offset-y: 10px;
    --info-top: 2.5rem;
    --info-width: min(70%, 250px);
    --info-offset-y: 30px;
}
/* === RESET === */
*,*:before,*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
h1 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 1rem;
    text-align: center;
    font-size: clamp(2rem, 5vw + 1rem, 2.5rem);
    line-height: 1.2;
}
h2,h3{
    font-size: min(.5rem, 3vw + 1rem);
}
/*======================Scape the heading of the covers pages==========================*/
h2:not(.front-cover .front-face h2) {
    font-family: 'Merriweather', serif;
    font-size: clamp(1.5rem, 3vw + .5rem, 1.5rem);
    margin: .5rem .128rem;
    color: #777;
}
h3:not(.front-cover .front-face h3) {
    font-family: 'Lora', serif;
    font-size: clamp(1.2rem, 3vw + .2rem, 1.2rem);
    margin: .5rem .128rem;
    color: #555;
    /*color: #333;*/
}
svg {
    fill: #1a1a1a;
    transition: fill 0.3s;
    width: 1.5rem;
    height: 1.5rem;
}
a:hover svg {
    fill: var(--page-second-color);
}
/* === BASE STYLES === */
.book-container {
    min-height: 100vh;
    width: 100vw;
    background: radial-gradient(circle at center, black, #1a1a1a);
    display: grid;
    place-content: center;
    overflow: hidden;
}
.book {
    position: relative;
    width: min(100vw, 1000px);
    height: min(60vw, 600px);
    perspective: min(300vw, 3000px);
}

.page-container {
    position: absolute;
    width: min(50vw, 500px);
    height: 100%;
    cursor: pointer;
    transform-origin: left;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out;
    transform: translateX(var(--translate-x)) ;
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    padding: min(10px, 1vw) min(15px, 1.5vw);
    background: linear-gradient(90deg, var(--page-first-color) 90%, var(--page-second-color), var(--page-last-color));
    font-size: min(16px, 1.6vw);
    backface-visibility: hidden;
}
.page.front {
    background: linear-gradient(-90deg, var(--page-first-color) 80%, var(--page-second-color), var(--page-last-color));
}

/* === PAGE SHAPES === */
.front {
    border-radius: 5px 15px 15px 5px;
}

.back {
    border-radius: 15px 5px 5px 15px;
    transform: rotateY(180deg);
}

/* === COVER STYLES === */
.front-cover > .front-face,
.back-cover > .back-face {
    background: var(--cover-color) url("https://zupimages.net/up/21/47/zxra.png") no-repeat center/contain;
}

.front-cover > .back-face,
.back-cover > .front-face {
    background: var(--cover-color);
}

.front-cover > .front-face {
    font-family: 'Alice', serif;
    color: #ffcc00;

}

.front-cover > .front-face * {
    position: absolute;
    text-align: center;
}

.front-cover .front-face h1 {
    font-size: min(56px, 5.6vw);
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 5px 2px 0 rgba(0, 0, 0, 0.25);
}

.front-cover .front-face h2 {
    font-size: min(24px, 4vw);
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.front-cover .front-face h3 {
    font-size: min(16px, 3.5vw);
    font-style: italic;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* === PAGE CONTENT === */
.page-content {
    padding: 4rem;
    text-align: center;
}

.book-title {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.book-subtitle {
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #555;
}

.book-quote {
    font-family: 'Lora', serif;
    font-size: 1.2rem;
    font-style: italic;
    line-height: 1.5;
}

.book-quote .book-author {
    display: block;
    margin-top: 1rem;
    font-size: 1rem;
    color: #333;
}

.pagination {
    position: absolute;
    top: 95%;
    left: 50%;
    font-family: 'Merriweather', serif;
    font-size: 0.9rem;
    color: #333;
}

/* === ABOUT ME === */
.about-me .social-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 0.8rem;
}

.about-me .social-links a {
    display: flex;
    padding: 0.4rem;
    border: 1px solid #333;
    border-radius: 50%;
    color: #1a1a1a;
    font-size: 1.2rem;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.about-me .social-links a:hover {
    color: var(--page-second-color);
    background: #000;
}

.about-me p,
.timeline p {
    font-family: 'Merriweather', serif;
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
    margin-bottom: 1.2rem;
}

.btn{
    font-family: 'Merriweather', serif;
    background: transparent;
    border: 1px solid #1a1a1a;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
    transition: background-color 0.5s ease, color 0.5s ease;
    margin-top: .5rem;
}

.btn:first-child {
    background: #1a1a1a;
    color: var(--page-second-color);
}

.btn:first-child:hover {
    background: transparent;
    color: #1a1a1a;
}
/* === WORK EXPERIENCE === */
.page-B .page-content
,.page-C .page-content
,.page-D .page-content
{
    padding: .5rem;
    text-align: left;
}
.timeline {
    border-left: 2px solid #1a1a1a;
    padding: 0 1rem;
    width: 100%;
}
.timeline .timeline-items {
    position: relative;
    padding-left: .5rem;
}
.timeline .timeline-items:before {
    content: '\1F5B3';
    position: absolute;
    top: 0;
    left: -2.2rem;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #1a1a1a;
    color: var(--page-second-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    padding: 18px;
}
.timeline-date{
    background-color: #1a1a1a;
    position: relative;
    padding: 0 0.5rem ;
}
.timeline-date span{
    color: var(--page-second-color);
}
.timeline-date:before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -1.7%;
    clear: both;
    background-color: transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid #1a1a1a;
}
.timeline .timeline-item ul li{
    font-family: 'Lora', serif;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #555;
}
/*===========Eduction============*/
#education{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}
#education .timeline-items:before{
    content: '\1F393';
}
/*========SKILLS========*/
.skills .front-end h2,
.skills .back-end h2,
.skills .data-base h2{
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    color: #777777;
    text-align: center;
    margin:0 !important;
}
.skills .carousel{
    display: flex;
    overflow-x: hidden;
    cursor: grab;
    mask-image: linear-gradient(
            to right,
            transparent 0%,
            rgb(0, 0, 0) 10%,
            black 90%,
            transparent 100%
    );

}
.skills .carousel-items {
    display: flex;
    gap: 1rem;
    padding:0.5rem;
}
.skills .carousel-items .card{
    width: 120px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Merriweather', serif;
    font-size: 1.2rem;
    border-radius: 10px;
    color: #1a1a1a;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: var(--page-first-color);
    border: 2px solid #1a1a1a;
    transition: border 0.5s ease, box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease;
    -webkit-user-select: none;
    user-select: none;
}
.skills .carousel-items .card:hover{
    border: 2px solid var(--page-second-color);
    box-shadow: 2px 4px 0 #0000, 0 0 0 6px var(--page-second-color);
    background-color: #1a1a1a;
    color: var(--page-second-color);
}
.skills .carousel-items .card .icon-container svg {
    width: 30px;
    height: 30px;
    margin-bottom: 0.5rem;
    fill: var(--page-second-color);
}
.card:hover,
.card:focus-within {

}
/*Charts Styling*/
.chart{
    width: 100%;
    padding: 1rem;
    height: 240px;
    margin-bottom: 10px;
    position: relative;

}
.chart canvas{
    margin-inline: auto;
    position: absolute;
    width: 100%;
    height: 100%;
}
.chart h2{
    text-align: center;
}
.chart-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*===============Latest Project Section===================*/
.latest-project h2 {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
}
.latest-project .project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
}
.latest-project .project .project-image {
    width: 90%;
    max-width: 600px;
    overflow: hidden;
    border-radius: 10px;
}
.latest-project .project .project-image img{
    width: 100%;
    object-fit: cover;
}
.project .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 5px;
    width: 90%;
}
.project .project-title {
    font-family: 'Berkshire Swash', cursive;
    font-size: 1.5rem;
    color: #333;
}
.project .header a {
    font-family: 'Merriweather', serif;
    font-size: 1rem;
    color: #1a1a1a;
    text-decoration: none;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
}
.project  .project-description {
    font-family: 'Merriweather', serif;
    font-size: 1rem;
    color: #555;
    text-align: center;
    margin-top: 0.5rem;
    width: 90%;
    line-height: 1.5;
    margin-bottom: 1rem;
}
/*======Service========*/
.services{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 1rem;
}
.services > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: .5rem;
    border-radius: 10px;
    transition: background-color 0.5s ease, color 0.5s ease;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.services > div:hover{
    background-color: #1a1a1a;
    color: var(--page-second-color);
}
.services > div:hover > .btn{
    background-color: var(--page-second-color);
    color: #1a1a1a;
}
.services > div > svg {
    fill: #1a1a1a;
    height: 30px;
    width: 30px;
}
.services > div:hover > svg {
    fill: var(--page-second-color);
}
.services > div > h3 {
    font-family: 'Playfair Display', serif;
    font-size: 1.2rem;
    margin-top: 0.5rem;
}
.services > div > .btn {
    background-color: #1a1a1a;
    color: var(--page-second-color);
}
/*===========Contact Me Form Styling===========*/
.contact-me {
    padding: 1rem;
    width: 100%;
}
.contact-me form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 10px;
    /*border: 2px solid #1a1a1a;*/
}
.contact-me form input,
.contact-me form textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #1a1a1a;
    border-radius: 5px;
    font-family: 'Merriweather', serif;
    font-size: 1rem;
    color: #333;
    background-color: transparent;
}
.contact-me form input::placeholder, form textarea::placeholder {
    color: #000000;
}
.contact-me form textarea{
    height: 150px;
    resize: none;
}
.contact-me form button {
    background-color: transparent;
    color: #1a1a1a;
    padding: 0.8rem;
    border-radius: 5px;
    font-family: 'Merriweather', serif;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease;
    border: 2px solid #1a1a1a;
    width: 50%;
}
.contact-me form button:hover {
    background-color: #1a1a1a;
    color: var(--page-second-color);
}
/* === PAGE FLIP ANIMATION === */
/*js added classes */
.flip {
    transform: translateX(var(--translate-x)) rotateY(-180deg);
}
/*========Responsive Design=======*/
/* Phones */
@media (max-width: 576px) {
    body {
        font-size: 1.125rem; /* 18px */
    }
    h1 {
        font-size: 2.5rem; /* 40px */
    }
    .book-container{
        overflow: hidden scroll;
        display: block;
        height: auto;
    }
    .book {
        height: auto;
        transform: none;
        display: block;
        perspective: none;
    }
    .page-container{
        width: 100%;
        transform-origin: center;
        transform: translateX(0);
        cursor: none;
        display: block;
        position: relative;
        height: auto;
    }
    .page-container > *{
        border-radius: 0;
    }
    .cover{
        min-height: 100svh;
        background-color: var(--cover-color);
    }
    .front-cover>.back-face
    ,.back-cover>.front-face {
        display: none;
    }

    .page {
        width: 100%;
        padding: 1rem;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        border-bottom: 1px solid #777777;
        position: relative;
        transform: none;
        height: auto;
        box-shadow: none;
        backface-visibility: visible;
    }

    .page-container:not(.cover)>*{
    background: linear-gradient(-90deg, var(--page-first-color) 80%, var(--page-second-color), var(--page-last-color));
    }
    .page.back{
        transform: rotateY(0deg);
        position: static;
    }
    .front-face, .back-face {
        transform: none !important;
    }

    .cover.front-cover,
    .cover.back-cover {
        display: flex;
        height: auto;
    }

    .page-content {
        padding: 1.5rem;
    }

    .pagination {
        position: static;
        margin-top: 1rem;
        text-align: right;
    }
    .pagination{
        position: static;
        top: auto;
        left: auto;
        width: 100%;
        text-align: center;
        padding: 1rem 0;
    }
    .page-content{
        padding: 5rem 1rem;
        text-align: center;
    }
}

/* Tablets */
@media (min-width: 577px) and (max-width: 768px) {

}

/* Laptops */
@media (min-width: 769px) and (max-width: 992px) { }

/* Desktops */
@media (min-width: 993px) { }
