*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    outline: none;
    text-decoration: none;
}
:root{
    --bg-color:#081b29;
    --main-color:#00abf0;
    --text-color:#333;
    --secondry-color:#fff;
    --cover-color: linear-gradient(45deg, #00abf0, #006e9a);
    --page-color: linear-gradient(90deg, #fff, #ddd);
    --border:.125rem solid #00abf0;
    --box-shadow:0 0 .6rem rgba(0, 0, 0, 0.2);
}
html{
    font-size: 90%;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: var(--text-color);
    overflow: hidden;
}
@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.wrapper{
    perspective: 250rem;
    position: relative;
    width: 66rem;
    height: 45rem;
    padding: 2.5rem;
    animation: show-wrapper 2s forwards;
}
.cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: var(--cover-color);
    box-shadow: var(--box-shadow);
    border-top-left-radius: .6rem;
    border-bottom-left-radius: .6rem;
    transform-origin: right;

}
.cover.cover-left{
    z-index: -1;
}
.cover.cover-right{
    z-index: 100;
    transition: transform  1s cubic-bezier(.645,.045,.355,1);
}
.cover.cover-right.turn{
    transform: rotateY(-180deg);
}
.book{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    perspective: 250rem;
}
.book .book-page{
    position: absolute;
    display: flex;
    width: 50%;
    height: 100%;
    background: var(--page-color);
    box-shadow: 0 0 .6rem rgba(0, 0, 0, 0.2);
    padding: 2rem;
}
.profile-page{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.profile-page img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: .28rem solid var(--main-color);
    margin-bottom: .8rem;
}
.profile-page h1{
    font-size: 2.7rem;
    line-height: 1;
}
.profile-page h3{
    font-size: 1.5rem;
    color: var(--main-color);
}
.profile-page .social-media{
    width: 60%;
    margin: .5rem 0;
}
.profile-page .social-media ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile-page .social-media ul li {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--main-color);
    transform-origin:bottom center;
    transition: background-color .4s ease-in-out;
}
.profile-page .social-media ul li a {
    color: var(--main-color);
    font-size: 1.2rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.profile-page .social-media ul li a:hover {
    color: var(--secondry-color);
}
.profile-page .social-media ul li:hover {
    color: var(--secondry-color);
    background-color: var(--main-color);
}
.profile-page p{
    text-align: justify;
    font-weight: 400;
    color: #999;
}
.btn-box,.btn{
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
}
.btn {
    width: 9.5rem;
    background: var(--main-color);
    color: var(--secondry-color);
    font-weight: 500;
    font-size: 1.2rem;
    border-radius: 5px;
    margin-top: 1rem;
    padding: .5rem 1rem;
    transition: background-color .5s  ease, color .5s ease,border .5s ease;
    cursor: pointer;
    height: 3rem;
}
.btn:hover {
    background: var(--secondry-color);
    color: var(--main-color);
    border: 1px solid var(--main-color);
}
.btn:nth-child(2){
    background: var(--secondry-color);
    color: var(--main-color);
    border: 1px solid var(--main-color);
}
.btn:nth-child(2):hover{
    background: var(--main-color);
    color: var(--secondry-color);
    border: 1px solid var(--secondry-color);
}
/*Page 1 and 2 styling*/
.book-page.page-right{
   position: absolute;
   right: 0;
   transform-style: preserve-3d;
   transform-origin:left;
   transition: transform  1s cubic-bezier(.645,.045,.355,1);
}
.book-page.page-right.turn,.cover.cover-right{
    transform: rotateY(-180deg);

}
.book-page .page-front,
.book-page .page-back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--page-color);
    padding: 1.5rem 2rem;

}
.book-page .page-front{
    transform: rotateY(0deg) translateZ(1px);
    height: 100%;
}
.book-page .page-back{
    transform: rotateY(180deg) translateZ(1px);
}
.title{
        text-align: center;
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 1rem;
        text-transform: capitalize;
        font-family: Tahoma, sans-serif;
}
.work-box{
    height:80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-left: var(--border);
    padding:0 1rem;
}
.work-content,
.education-content{
    position: relative;
    padding:0 .5rem;
    margin-bottom: 1.5rem;
    width: 100%;

}
.work-content::before{
    content: '';
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    background: var(--main-color);
    border-radius: 50%;
    top: 0;
    left: -23px;
}
.work-box .year{
    color: var(--main-color);
}
.work-box .year i {
    margin-right: .5rem;
}
.work-content h3{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: .5rem;
}
.work-content p{
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
}

.pagination{
    position: absolute;
    bottom: 0;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #999;
}

.pagination button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color .3s ease, color .3s ease;
    right: 0;
}
.pagination button i{
    font-size: 2.5rem;
    color: #999;
}
/*Services Styling*/
.services-box{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2,2fr);
    gap: 10px 15px;
}
.services-box .services-content{
    padding:10px;
    border: .2rem solid var(--main-color);
    text-align: center;
    border-radius: 5px;
    transition: background-color .5s ease, color .5s ease, box-shadow .5s ease;
    box-shadow: var(--box-shadow);
}
.services-content i{
    font-size: 2rem;
    color: var(--main-color);
}
.services-content h3{
    font-size: 1.5rem;
    /*margin: .5rem 0;*/
}
.services-content p{
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
    line-break: anywhere;
}
.services-content .btn{
    margin-top: -10px;
}
/*skills section Styling*/
.skills-box h3{
    font-size: 1.5rem;
    font-weight: 500;
}
.skills-box .content{
    width: 100%;
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
}
.skills-box .content span{
    margin:1.01rem .5rem;
    padding: .5rem;
    text-align: center;
    border-radius: 5px;
    /*box-shadow: var(--box-shadow);*/
    border: 2px solid var(--main-color);
}
.skills-box .content span i{
    font-size: 2rem;
    color: var(--main-color);
    display: block;
    margin-bottom: .5rem;
}
/*Latest Projects*/
.portfolio-box .project-image{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}
.portfolio-box .project-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .5s ease;
}
.portfolio-box .project-image:hover img{
    transform: scale(1.1);
}
.project-details .project-title{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: .5rem;
    color: var(--main-color);
    display: flex;
    justify-content: space-between;
}
.project-details .project-title a{
    text-decoration: none;
    transition: color .3s ease;
    font-size: 14px;
    color: #999;
}
.project-description p{
    color: #999;
}
.techno-used ul,li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .2rem;
}
.techno-used ul li{
    background-color: var(--main-color);
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--secondry-color);
    font-size: .8rem;
}
strong{
    color:var(--main-color);
}
/*Contact Me */
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.input-box{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    min-width: 100%;
}
label{
    font-size: 1.1rem;
    margin-bottom: .5rem;
}
input,textarea{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #999999;
    outline: none;
    background-color: transparent;
    font-size: 1rem;
    padding: 1rem;
    color: var(--text-color);
}
input::placeholder,textarea::placeholder{
    color: #999999;
}
textarea{
    resize: none;
    height: 10rem;
}
button[type="submit"]{
    width: 50%;
    background: var(--main-color);
    color: var(--secondry-color);
    font-weight: 500;
    font-size: 1.2rem;
    border-radius: 5px;
    padding: .5rem 1rem;
    transition: background-color .5s ease, color .5s ease, border .5s ease;
    cursor: pointer;
    height: 3rem;
    margin-top: -5px;
}
.right{
    position: absolute;
    right: 0;
    width: 50%;
    bottom: 0;
}
.profile-button{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: .5rem 1rem;
    cursor: pointer;
    transition: background-color .5s ease, color .5s ease;
}
.profile-button:hover>i{
    background: var(--main-color);
    color: var(--secondry-color);
}
.profile-button >span{
    position: absolute;
    opacity: 0;
    transform: translateY(-100%);
    font-size: 1rem;
    transition: opacity .3s ease;
    color: var(--main-color);
}
.profile-button>i{
    color: var(--main-color);
    border: 1px solid var(--main-color);
    padding: .5rem;
}
.profile-button:hover>span{
    transform: translateY(-150%);
    opacity: 1;
}
#page-1{
    z-index:1;
}
#page-2{
    z-index:2;
}
#page-3{
    z-index:3;
}

@keyframes show-wrapper {
  0%,30%{
      opacity: 0;
      transform: rotate(-20deg);
  }
    100%{
        opacity: 1;
        transform: rotate(0deg);
    }
}




